section#education.section.scrollspy
    h3.page-title.white-text.teal Education
    .container
        .row
            .col.s12.m6
                .card
                    .card-content
                        p
                            span.card-title
                                a.teal-text.hoverline(href='https://www.ivey.uwo.ca/') Ivey Business School
                        p.teal-text 2021 | London, ON, Canada
                        ul
                            li Candidate for Bachelor of Arts, Honors Business Administration (HBA)
                            li Jackson Entrepreneurship Award for academic achievement, leadership, and entrepreneurial drive ($10,000).
                            li Average: 87% (Top 1%).
                            li Teaching assistant for #[em Decision Making with Analytics.]
                            li Pursuing dual-degree with Computer Science.


            .col.s12.m6
                .card
                    .card-content
                        p
                            span.card-title
                                a.teal-text.hoverline(href='http://www.uwo.ca') Western University
                        p.teal-text 2021 | London, ON, Canada
                        ul
                            li Candidate for Bachelor of Science, Honours Specialization in Computer Science.
                            li Computer Science Average: 94.3%; Cumulative Average: 88.3%.
                            li Western Scholar.
