section#experience.section.scrollspy
    h3.page-title.white-text.teal Experience
    .container

        //- RBC Amplify - Project Management Intern
        .card
            .card-content
                .row
                    .col.s12.m2
                        a(href='https://www.youtube.com/watch?v=sU8z5yiRKF4', target='_blank')
                            img.responsive-img.center-block(alt='RBC Logo', src='img/rbc-128.png')
                    .col.s12.m10
                        p
                            span.card-title
                                a.teal-text.hoverline(href='https://www.youtube.com/watch?v=sU8z5yiRKF4', target='_blank') RBC Amplify
                .role.teal-text Project Management Intern
                p
                    em.grey-text Amplify is a summer innovation program where student teams come up with creative ways to challenge the status quo and solve business problems
                ul
                    li Led cross-functional (data scientist, developer, UX/UI designer) team to create full-stack productivity tool which provides personalized, actionable steps to address cybersecurity threats; expected to reduce time needed to address threats by 20%.
                    li Utilized project management tools & agile methodology to set goals, prioritize tasks, and monitor progress; recognized by technical managers as having the strongest code repository in the Amplify program (out of 21 teams).
                    li Presented to senior stakeholders 5 times to ensure project accurately identified business needs and was a feasible solution to RBC’s pain points.
            .card-action
                span Summer 2019  |  Toronto, ON, Canada
        //- Autodata Solutions - Software Developer Intern
        .card
            .card-content
                .row
                    .col.s12.m2
                        a(href='https://www.autodatasolutions.com/', target='_blank')
                            img.responsive-img.center-block(alt='Autodata Logo', src='img/autodata-128.png')
                    .col.s12.m10
                        p
                            span.card-title
                                a.teal-text.hoverline(href='https://www.autodatasolutions.com/', target='_blank') Autodata
                .role.teal-text Software Development Intern
                p
                    em.grey-text Software development role working on multi-program project to automate tasks both internally and for B2B clients
                ul
                    li Developed Java program to automate error-checking process for client files; increased efficiency of QA process by 92%.
                    li Maintained and updated Java backend of web app which allows customers to customize a 3D-model of a vehicle for a more personalized shopping experience; tool is currently being utilized by GM and 80+ car dealerships.
                    li Implemented JavaScript program that interacts with Photoshop files to procedurally generate customizable dealership images for marketing purposes.
                    li As side project, examined 10 internal processes to determine how they could be improved; 8/10 recommendations to senior development team led to projects being deployed within organization.
                    li Tools: Java, JavaScript, SQL
            .card-action
                span Summer 2018  |  London, ON, Canada

        //- Western University - Web Development Intern
        .card
            .card-content
                .row
                    .col.s12.m2
                        a(href='https://www.uwo.ca/', target='_blank')
                            img.responsive-img.center-block(alt='UWO Logo', src='img/western-128.jpg')
                    .col.s12.m10
                        p
                            span.card-title
                                a.teal-text.hoverline(href='https://www.uwo.ca/', target='_blank') Western University
                                br
                                a.teal-text.hoverline(href='https://www.uwo.ca/', target='_blank') Department of Communications
                .role.teal-text Web Development Intern
                p
                    em.grey-text Web development role working in a team of 7 on a project to revamp Western University's web platform and content management system
                ul
                    li Revamped front-end for Western University's web platform by utilizing HTML, CSS, and JavaScript to redesign layout and add functionality such as responsive design, automated newsfeeds, wide slideshows, and interactive elements.
                    li Implemented drag-and-drop functionality within content management system to allow users without programming experience to easily add JavaScript features to their sites; functionality has been used 1,000+ times by dozens of organizations across Western University.
                    li Developed feature in content management system that 1) highlighted non-accessible webpage elements and 2) allowed users to fix the element (e.g. adding an alt tag) by clicking it and following pop-up instructions; helped improve LevelAccess Web Compliance Score from 32% to 79%.
                    li Tools: JavaScript, jQuery, HTML/CSS

            .card-action
                span Summer 2017  |  London, ON, Canada

