section#projects.section.scrollspy
    h3.page-title.white-text.teal Projects
    .container
        .row
            // Carter
            .col.s12.m6.l4
                .card.medium
                    .card-image.waves-effect.waves-block.waves-light
                        img.activator(alt='Carter logo', src='img/carter.png')
                    .card-content
                        span.card-title.activator.teal-text.hoverline Carter
                            i.mdi-navigation-more-vert.right
                        p Real-time recommendations during brick-and-mortar shopping.
                    .card-reveal
                        span.card-title.teal-text Details
                            i.mdi-navigation-close.right
                        ul
                            li 1st place at Microsoft x Loblaw Digital Machine Vision Hackathon
                            li Provides recommendations by detecting current items in cart
                            li #[strong Tools:] Python (Flask), Microsoft Azure Machine Vision API
                        .card-action
                            a.btn-floating.btn-large.waves-effect.waves-light.teal.tooltipped(aria-label='View slidedeck for Carter', href='https://docs.google.com/presentation/d/1JhaCcYMWceEyhOJXvHcwlYzqnt9tg3R1HRXW_ie45zw/edit?usp=sharing', target='_blank', data-position='top', data-tooltip='View Presentation')
                                i.fa.fa-tv
                            a.btn-floating.btn-large.waves-effect.waves-light.teal.tooltipped(aria-label='Visit the GitHub repo for Carter project', href='https://github.com/FawazMohammad/real_time_rec', target='_blank', data-position='top', data-tooltip='View Source')
                                i.fa.fa-github
            // The Great RGB Color Game
            .col.s12.m6.l4
                .card.medium
                    .card-image.waves-effect.waves-block.waves-light
                        img.activator(alt='Screenshot of RGB Game web app', src='img/rgbgame.png')
                    .card-content
                        span.card-title.activator.teal-text.hoverline The Great RGB Color Game
                            i.mdi-navigation-more-vert.right
                        p Game to practice distinguishing a color based on its RGB code.
                    .card-reveal
                        span.card-title.teal-text Details
                            i.mdi-navigation-close.right
                        ul
                            li Practice your front-end skills by matching colors to their RGB code!
                            li Two difficulties
                            li Try it out by clicking the linked button below!
                            li #[strong Tools:] JavaScript, jQuery, HTML/CSS
                        .card-action
                            a.btn-floating.btn-large.waves-effect.waves-light.teal.tooltipped(aria-label='Play RGB Color Game', href='https://fawazmohammad.github.io/RGBPractice/colorGame.html', target='_blank', data-position='top', data-tooltip='View Online')
                                i.fa.fa-external-link
                            a.btn-floating.btn-large.waves-effect.waves-light.teal.tooltipped(aria-label='Visit the GitHub repo for RGB Color Game project', href='https://github.com/FawazMohammad/RGBPractice', target='_blank', data-position='top', data-tooltip='View Source')
                                i.fa.fa-github
            // Color Beat
            .col.s12.m6.l4
                .card.medium
                    .card-image.waves-effect.waves-block.waves-light
                        img.activator(alt='Colorbeat screenshot', src='img/colorbeat.png')
                    .card-content
                        span.card-title.activator.teal-text.hoverline Color Beat
                            i.mdi-navigation-more-vert.right
                        p Fun & simple web app - press a letter and see what happens!
                    .card-reveal
                        span.card-title.teal-text Details
                            i.mdi-navigation-close.right
                        ul
                            li Relaxing time-killer using JavaScript animations
                            li Pressing a key will create a shrinking circle and play a beat
                            li Try it out by clicking the linked button below!
                            li #[strong Tools:] JavaScript, jQuery, HowlerJS, HTML/CSS
                        .card-action
                            a.btn-floating.btn-large.waves-effect.waves-light.teal.tooltipped(aria-label='Try Color Beat!', href='https://fawazmohammad.github.io/colors/', target='_blank', data-position='top', data-tooltip='View Online')
                                i.fa.fa-external-link
                            a.btn-floating.btn-large.waves-effect.waves-light.teal.tooltipped(aria-label='Visit the GitHub repo for Color Beat project', href='https://github.com/FawazMohammad/colors', target='_blank', data-position='top', data-tooltip='View Source')
                                i.fa.fa-github
            // CampEasy
            .col.s12.m6.l4
                .card.medium
                    .card-image.waves-effect.waves-block.waves-light
                        img.activator(alt='Campeasy landing page screenshot', src='img/campeasy.png')
                    .card-content
                        span.card-title.activator.teal-text.hoverline CampEasy
                            i.mdi-navigation-more-vert.right
                        p Full-stack web app where users can view and share camping locations
                    .card-reveal
                        span.card-title.teal-text Details
                            i.mdi-navigation-close.right
                        ul
                            li Node app made for people seeking campgrounds
                            li Users can create, edit, delete, and view camping locations
                            li Hosted on Heroku
                            li #[strong Tools:] JavaScript, HTML/CSS, NodeJS, MongoDB, Express
                        .card-action
                            a.btn-floating.btn-large.waves-effect.waves-light.teal.tooltipped(aria-label='Visit Campeasy web app', href='https://gentle-thicket-41277.herokuapp.com/', target='_blank', data-position='top', data-tooltip='View Online')
                                i.fa.fa-external-link
                            a.btn-floating.btn-large.waves-effect.waves-light.teal.tooltipped(aria-label='Visit the GitHub repo for Campeasy project', href='https://github.com/FawazMohammad/CampEasy', target='_blank', data-position='top', data-tooltip='View Source')
                                i.fa.fa-github
            // Tic Tac Toe 2.0
            .col.s12.m6.l4
                .card.medium
                    .card-image.waves-effect.waves-block.waves-light
                        img.activator(alt='Tic tac toe app screenshot', src='img/tictactoe.png')
                    .card-content
                        span.card-title.activator.teal-text.hoverline Tic Tac Toe 2.0
                            i.mdi-navigation-more-vert.right
                        p Advanced Tic-Tac-Toe game with customizable board sizes and obstacles
                    .card-reveal
                        span.card-title.teal-text Details
                            i.mdi-navigation-close.right
                        ul
                            li Play against a friend or computer (choose difficulty!).
                            li Practice with OOP, recursion, data structures & algorithms
                            li #[strong Tools:] Java
                        .card-action
                            a.btn-floating.btn-large.waves-effect.waves-light.teal.tooltipped(aria-label='Visit the GitHub repo for Tic Tac Toe', href='#', data-position='top', data-tooltip='Source is Private')
                                i.fa.fa-github
            // EMU (Education Management System)
            .col.s12.m6.l4
                .card.medium
                    .card-image.waves-effect.waves-block.waves-light
                        img.activator(alt='Classroom', src='img/classroom.jpg')
                    .card-content
                        span.card-title.activator.teal-text.hoverline EMU (Education Management System)
                            i.mdi-navigation-more-vert.right
                        p App for professors, administration, and students to manage courses
                    .card-reveal
                        span.card-title.teal-text Details
                            i.mdi-navigation-close.right
                        ul
                            li Cumulative project for software engineering course - team received 100% final grade
                            li End-to-end course management application for a university or high school
                            li Practice with design patterns, OOP, and proper software engineering practices
                            li #[strong Tools:] Java
                        .card-action
                            a.btn-floating.btn-large.waves-effect.waves-light.teal.tooltipped(aria-label='Visit the GitHub repo for EMU project', href='https://github.com/FawazMohammad/Education-Management-System', target='_blank', data-position='top', data-tooltip='View Source')
                                i.fa.fa-github
            // falsifID
            .col.s12.m6.l4
                .card.medium
                    .card-image.waves-effect.waves-block.waves-light
                        img.activator(alt='FalsifID Logo', src='img/falsifid.png')
                    .card-content
                        span.card-title.activator.teal-text.hoverline FalsifID
                            i.mdi-navigation-more-vert.right
                        p Check if user matches their ID using Azure Face Detection
                    .card-reveal
                        span.card-title.teal-text Details
                            i.mdi-navigation-close.right
                        ul
                            li App to be used by bouncers to instantly determine if a face matches the ID presented
                            li Business case motivation: Way too many 17-year-olds at London bars
                            li #[strong Tools:] React Native, JavaScript, HTML/CSS, Microsoft Computer Vision API
                        .card-action
                            a.btn-floating.btn-large.waves-effect.waves-light.teal.tooltipped(aria-label='Visit the GitHub repo for falsiID project', href='https://github.com/jlumbard/falsifID', target='_blank', data-position='top', data-tooltip='View Source')
                                i.fa.fa-github
