section#skills.section.scrollspy
    h3.page-title.white-text.teal Skills
    .container

        // - Languages
        .card
            .card-content
                h4.teal-text.light Languages
                .row.text-center.card-holder
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/javascript.png')
                        | JavaScript
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/java.png')
                        | Java
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/python.png')
                        | Python
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/sql.png')
                        | SQL
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/html5.png')
                        | HTML5/Pug
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/css3.png')
                        | CSS3/SASS
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/matlab.png')
                        | MATLAB
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/bash.png')
                        | Bash
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/c.png')
                        | C
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/r.png')
                        | R
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/vba.png')
                        | VBA

        //- Technologies
        .card
            .card-content
                h4.teal-text.light Technologies
                .row.text-center.card-holder
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/nodejs.png')
                        | Node
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/react.png')
                        | React
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/angular.png')
                        | Angular
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/materialize.png')
                        | Materialize
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/bootstrap.png')
                        | Bootstrap
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/jquery.png')
                        | jQuery
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/mongodb.png')
                        | MongoDB
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/express.png')
                        | Express
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/git.png')
                        | Git
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/gulp.png')
                        | Gulp


        //- Platforms
        .card
            .card-content
                h4.teal-text.light Platforms
                .row.text-center.card-holder
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/linux.png')
                        | Linux
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/macosx.png')
                        | Mac OS X
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/windows.png')
                        | Windows

        //- Non-Technical
        .card
            .card-content
                h4.teal-text.light Outside of Coding
                .row.text-center.card-holder
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/pm.png')
                        | Project Management
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/designthinking.png')
                        | Design Thinking
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/publicspeaking.png')
                        | Public Speaking
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/accounting.png')
                        | Accounting Fundamentals
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/financialmodelling.png')
                        | Financial Modelling
                    .col.s4.m3.l2
                        img.responsive-img(alt='', src='img/adobexd.png')
                        | Adobe XD



